# Virtual environment
quant_finance_venv/

# Python virtualenv directories (common patterns)
venv/
env/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Sensitive files / environment configs
.env
*.env
secrets.json

# Data files (prevent committing local data)
*.csv
*.xlsx
*.parquet
*.feather
*.db
*.sqlite


# Outputs / Reports / Notebooks you don’t want tracked
Regression_Models.ipynb
Machine Learning Notes/Classification Models/cb_2022_us_state_20m/
*.log

# Compressed files
*.zip
*.tar.gz
*.rar
